{
  "extends": "eslint:recommended",
  "parser": "babel-eslint",
  "parserOptions": {
    "sourceType": "script",
    "ecmaVersion": 2019
  },
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "rules": {
    "indent": ["error", 2],
    "strict": ["error", "global"]
  },
  "globals": {
    "game": true
  }
}
