<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Ex-luminous</title>
    <link rel="stylesheet" href="../public/reset.css" />
    <link rel="stylesheet" href="../public/game.css" />
  </head>
  <body>
    <div id="fade">
      <p id="fade-txt"></p>
      <span id="fade-span">New connection attempt in five seconds</span>
      <div class="buttons-line">
        <div id="close-window" class="btn">✖️ close window</div>
        <div id="restart" class="btn">💡 restart</div>
        <div id="back-lobby" style="display: none" class="btn">🚪 back to lobby</div>
      </div>
    </div>
    <div id="game"></div>
    <div id="left-icons">
      <ul>
        <li id="mute-sound">🔉</li>
        <li id="back-lobby2">🚪</li>
      </ul>
    </div>
    <div id="charge-bar" class="hide">
      <p>CHARGING LIGHT...</p>
      <div id="charge-mask"></div>
      <div class="progression"></div>
    </div>
    <script>
      window.CraftStudio = {};
      const { start } = require("../src/game.js");

      const fadeTxt = document.getElementById("fade-txt");

      // Retrieve server name and current player name
      const whatwgLocation = new URL(window.location.href);
      window.server = (whatwgLocation.searchParams.get("server") || "127.0.0.1") + ":50051";
      window.playerName = whatwgLocation.searchParams.get("name") || "invite";
      window.isHost = Boolean(Number(whatwgLocation.searchParams.get("isHost")));
      fadeTxt.innerHTML = `🕐 Connection in progress to <b>${server}</b>`;

      start().catch(console.error);
    </script>
  </body>
</html>
