<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Ludum-dare-45</title>
    <link rel="stylesheet" href="../public/reset.css" />
  </head>

  <body>
    <script>
      const { start } = require("../src/game.js");

      // Retrieve server name and current player name
      const whatwgLocation = new URL(window.location.href);
      const server = whatwgLocation.searchParams.get("server") || "127.0.0.1:50051";
      const name = whatwgLocation.searchParams.get("name") || "invite";

      console.log(`remote server ip: ${server}`);
      console.log(`player name: ${name}`);

      start(server, name).catch(console.error);
    </script>
  </body>
</html>
