<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Ludum-dare-45</title>
    <link rel="stylesheet" href="../public/reset.css" />
  </head>

  <body>
    <script>
      const whatwgLocation = new URL(window.location.href);
      const server = whatwgLocation.searchParams.get("server");
      const name = whatwgLocation.searchParams.get("name");

      console.log(`server: ${server}`);
      console.log(`name: ${name}`);
      const { start } = require("../src/game.js");
      const grpc = require("../src/grpc.js");

      start(server, name)
        .then((game) => {
          const grpcClient = grpc.createClient(server);
          grpcClient.connect({ name }, function(err) {
            const gameDataStream = grpcClient.gameData({});
            gameDataStream.on("data", (data) => {
              const parsedData = JSON.parse(data.data);
              console.log("received data from server", parsedData);
              game.emit("server-data", data.type, parsedData);
            });
          });
        })
        .catch(console.error);
    </script>
  </body>
</html>
