<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Lobby</title>
    <link rel="stylesheet" href="../public/reset.css" />
    <link rel="stylesheet" href="../public/lobby.css" />
    <script src="../src/lobby.js"></script>
  </head>
  <body>
    <div id="server-info">
      <h1>Connected players:</h1>
      <br />
      <ul id="server-info-players"></ul>
      <br />
      <h1>Time:</h1>
      <div id="server-info-time"></div>
      <button id="stop-server">stop server</button>
    </div>
    <main id="main">
      <input type="text" id="nickname" value="pseudo" />
      <div class="error hide">
        <p>Connection to <b>localhost:1337</b> failed!</p>
      </div>
      <div class="btn clickable" id="host-game"><p>🌍 Host a (new) Game</p></div>
      <div class="btn">
        <p>👥 Join a Game</p>
        <form id="join-game">
          <input type="text" id="ip-to-join" placeholder="127.0.0.1:50051" />
          <input type="submit" value="join" />
        </form>
      </div>
    </main>
  </body>
</html>
