<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Ex-luminous</title>
    <link rel="stylesheet" href="../public/reset.css" />
    <link rel="stylesheet" href="../public/lobby.css" />
    <script src="../src/lobby.js"></script>
    <script src="../public/particules.js" async defer></script>
  </head>
  <body>
    <canvas id="pixie"></canvas>
    <div id="server-info">
      <span class="warning"
        >⚠️ Think to open the TCP port <b>50051</b> in your box to able to play with your friends online!</span
      >
      <div class="ip">
        <p id="ip-internet"></p>
        <p id="ip-ipv4"></p>
      </div>
      <h1>Connected players</h1>
      <br />
      <ul id="server-info-players"></ul>
      <br />
      <h1>Uptime</h1>
      <div id="server-info-time"></div>
      <button id="stop-server">stop server</button>
    </div>
    <main id="main">
      <input type="text" id="nickname" placeholder="👉 name in game 👈" />
      <div class="error hide">
        <p>Connection to <b>localhost:1337</b> failed!</p>
      </div>
      <div class="btn clickable" id="host-game"><p>🎮 Host a (new) Game</p></div>
      <div class="btn">
        <p>👯 Join a Game</p>
        <form id="join-game">
          <input type="text" id="ip-to-join" placeholder="127.0.0.1" />
          <input type="submit" value="join" id="join-submit" />
        </form>
      </div>
    </main>
    <div id="info">
      <p>version 0.0.0</p>
      <div>
        <img src="../public/images/github.png" width="100" id="github-icon" />
      </div>
    </div>
  </body>
</html>
