body {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(51, 51, 51);
  background: -moz-radial-gradient(center, ellipse cover, rgba(51, 51, 51, 1) 0%, rgba(28, 28, 28, 1) 100%);
  background: -webkit-radial-gradient(center, ellipse cover, rgba(51, 51, 51, 1) 0%, rgba(28, 28, 28, 1) 100%);
  background: radial-gradient(ellipse at center, rgba(51, 51, 51, 1) 0%, rgba(28, 28, 28, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#333333', endColorstr='#1c1c1c',GradientType=1 );

  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}

#pixie {
  z-index: -1;
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  opacity: 0.5;
}

::placeholder {
  color: rgb(146, 146, 146);
  font-weight: bold;
}

input {
  height: 35px;
  border: 2px solid #fff;
  border-radius: 2px;
  outline: none;
  padding: 0 10px;
}
input#nickname {
  width: 70%;
  margin-left: 15%;
  text-align: center;
  height: 40px;
  font-size: 26px;
  background: none;
  margin-bottom: 20px;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px dashed #cfcb8c;
  color: #cfcb8c;
  border-radius: 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}
input#nickname::placeholder {
  color: #fffde7;
  opacity: 0.65;
}

input[type="submit"] {
  height: 39px;
  background: #9edc39;
  color: #242e33;
  font-weight: bold;
  padding: 0 20px;
}
input[type="submit"]:hover {
  cursor: pointer;
  background: #86bb30;
}

#server-info {
  display: none;
  width: 380px;
  flex-direction: column;
  background: rgb(38, 50, 56);
  background: -moz-linear-gradient(-45deg, rgba(38, 50, 56, 1) 1%, rgba(55, 71, 79, 1) 100%);
  background: -webkit-linear-gradient(-45deg, rgba(38, 50, 56, 1) 1%, rgba(55, 71, 79, 1) 100%);
  background: linear-gradient(135deg, rgba(38, 50, 56, 1) 1%, rgba(55, 71, 79, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#263238', endColorstr='#37474f',GradientType=1 );
  border: 2px solid #191e2083;
  border-radius: 4px;
  padding: 10px;
  box-shadow: 1px 1px 10px rgba(39, 32, 29, 0.5);
  color: #fff;
}
#server-info > h1 {
  border-bottom: 2px solid #5d6e7754;
  margin-bottom: 10px;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#server-info > #stop-server {
  background: #ffeb3b;
  border: 1px solid #f9a825;
  height: 30px;
  border-radius: 4px;
  color: #333;
  margin-top: 10px;
}
#server-info > #stop-server:hover {
  cursor: pointer;
}

main {
  width: 400px;
  display: flex;
  flex-direction: column;
}

main > * + * {
  margin-top: 15px;
}

main > div.error {
  background: #c62828;
  border: 2px solid #b71c1c;
  height: 30px;
  border-radius: 12px;
  padding: 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #e1f5fe;
  font-weight: bold;
  font-size: 14px;
}
main > div.error.hide {
  display: none;
}
main > div.error b {
  color: #f0f4c3;
}

main > div.btn {
  background: rgb(38, 50, 56);
  background: -moz-linear-gradient(-45deg, rgba(38, 50, 56, 1) 1%, rgba(55, 71, 79, 1) 100%);
  background: -webkit-linear-gradient(-45deg, rgba(38, 50, 56, 1) 1%, rgba(55, 71, 79, 1) 100%);
  background: linear-gradient(135deg, rgba(38, 50, 56, 1) 1%, rgba(55, 71, 79, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#263238', endColorstr='#37474f',GradientType=1 );
  border: 1px solid #191e2083;
  border-radius: 4px;
  min-height: 120px;
  box-shadow: 1px 1px 10px rgba(39, 32, 29, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
}

main > div.btn.clickable:hover {
  border-color: #dce775;
  color: #dce775;
  cursor: pointer;
}

main > div.btn > p {
  font-weight: bold;
  font-size: 22px;
  text-shadow: 1px 1px 10px #dce7752f;
}
main > div.btn > form {
  margin-top: 20px;
}
